<div class="prt_about_experience_wrapper">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="prt_heading_wrapper">
            <div class="prt_heading">
                <h1 id="education">Education</h1>
            </div>
        </div>
        <div class="prt_about_experience">
            <div class="row">

                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <div class="prt_about_experiencebox">
                        <div class="prt_about_experience_year">
                            <h1>2025</h1>
                            <h4>from 2023</h4>
                        </div>
                        <div class="prt_about_experience_info">
                            <h4>Master of Computer Applications</h4>
                            <span>Gurgaon</span>
                            <p>Pursuing Marster of Computer Applications from GD Goenka University, Gurgaon,
                                Haryana.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <div class="prt_about_experiencebox">
                        <div class="prt_about_experience_year">
                            <h1>2023</h1>
                            <h4>from 2020</h4>
                        </div>
                        <div class="prt_about_experience_info">
                            <h4>Bachelor of Computer Applications</h4>
                            <span>Bokaro</span>
                            <p>Completed my Bachelor of Computer Application from Bokaro Steel City College
                                under BBMKU, Dhanbad </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <div class="prt_about_experiencebox">
                        <div class="prt_about_experience_year">
                            <h1>2020</h1>
                            <h4>from 2018</h4>
                        </div>
                        <div class="prt_about_experience_info">
                            <h4>Intermediate</h4>
                            <span>Bokaro</span>
                            <p>Completed my Intermediate from Swami Sahajanad College under JAC, Ranchi
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <div class="prt_about_experiencebox">
                        <div class="prt_about_experience_year">
                            <h1>2018</h1>
                        </div>
                        <div class="prt_about_experience_info">
                            <h4>Matriculation</h4>
                            <span>Bokaro</span>
                            <p>Completed my matriculation from Guru Gobind Singh Public School, Chas,
                                Bokaro, Jharkhand </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>