<div class="container" id="home">
    <div class="text">
        <h3 class="greet">Hello, It's me </h3>
        <h1 id="name" class="name">Rahul Mandal</h1>
        <span class="typed-text profession">
            <h1><span class="multiText"></span></h1>
        </span>
        <!--<p>Being a student and a fresher, I am committed to learning
            new technology and exploring further new experiences</p>-->

        <div class="email-container">
            <a onclick="copyContent()" href="#">

                <p id="email">rahulkumar397222<span style="color:red"></span>gmail.com </p>

                <span><svg id="copy" data-name="copy" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">

                        <path
                            d="M254.5,244a3,3,0,0,0-3,3v10.5a3,3,0,0,0,3,3H265a3,3,0,0,0,3-3V247a3,3,0,0,0-3-3Zm-7.5,7.5a3,3,0,0,0-3,3V265a3,3,0,0,0,3,3h10.5a3,3,0,0,0,3-3v-3h-2.25v3a.76.76,0,0,1-.75.75H247a.76.76,0,0,1-.75-.75V254.5a.76.76,0,0,1,.75-.75h3V251.5Z"
                            fill="#34495E" transform="translate(-244 -244)" />
                    </svg></span>
            </a>
        </div>
        <ul class="social">
            <li class="github"><a target="_blank" href="https://github.com/rahulmandal0207"><i
                        class="fa fa-github"></i></a>
            </li>
            <li class="linkedin"><a target="_blank" href="https://www.linkedin.com/in/rahul-mandal-76b1012b5/"><i
                        class="fa fa-linkedin"></i></a></li>
            <li class="twitter"><a target="_blank" href="https://twitter.com/im_arbiter"><i
                        class="fa fa-twitter"></i></a></li>
            <li class="instagram"><a target="_blank" href="https://www.instagram.com/imarbiter/"><i
                        class="fa fa-instagram"></i></a></li>
        </ul>
        <div class="download-btn">
            <a href="src/resume/Rahul-resume.pdf" download="Rahul_Mandal_resume">
                <button>Download Resume</button>
            </a>
        </div>


    </div>
    <div class="image">
        <img class="unselectable" src="images/hero/coder-bg.gif" alt="">
        <img class="unselectable" src="images/hero/coder.gif" alt="">
    </div>
</div>


<div id="snackbar">Email Copied</div>