<!--<div class="prt_about_edulearn_wrapper">-->
<!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">-->
    <div class="prt_heading_wrapper">
        <div class="prt_heading">
            <h1 id="experience">Experience</h1>
        </div>
    </div>
    <div class="prt_about_learnsection">
        <div class="row">
            <div class="col-xl-6 offset-xl-6 col-md-12 offset-md-12 col-sm-12 col-xs-12">
                <div class="prt_about_learnbox_right">
                    <div class="prt_about_learnbox_year">
                        <h1>Apr</h1>
                        <h4>2024</h4>
                    </div>
                    <div class="prt_about_learnbox_info">
                        <h4>Vehicle Registration Plate Recognition</h4>
                        <span>Project</span>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                            accusantium doloremque laudantium, totam rem aperiam.</p>

                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="prt_about_learnbox_left">
                    <div class="prt_about_learnbox_year">
                        <h1>Nov</h1>
                        <h4>22 to Mar 23</h4>
                    </div>
                    <div class="prt_about_learnbox_info">
                        <h4>Web Developer Intern</h4>
                        <span>Webaikon Infotech</span>
                        <p>Hands-on experience with Angular framework and Asp.NET framework</p>

                    </div>
                </div>
            </div>
            <div class="col-xl-6 offset-xl-6 col-md-12 offset-md-12 col-sm-12 col-xs-12">
                <div class="prt_about_learnbox_right">
                    <div class="prt_about_learnbox_year">
                        <h1>Jun</h1>
                        <h4>2022</h4>
                    </div>
                    <div class="prt_about_learnbox_info">
                        <h4>Insurance Management System</h4>
                        <span>Project</span>
                        <p>Developed a Insurance Management System using Python and Django</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="prt_about_learnbox_left">
                    <div class="prt_about_learnbox_year">
                        <h1>Mar</h1>
                        <h4>22 to Jun 22</h4>
                    </div>
                    <div class="prt_about_learnbox_info">
                        <h4>Junior Web Developer intern</h4>
                        <span>Ardent Computech</span>
                        <p>Hands-on experience with Django, Developed the foundational skills in web
                            development.</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
<!--</div>-->
<!--</div>-->