<div class="prt_contact_wrapper ">

    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="prt_heading_wrapper">
                    <div class="prt_heading">
                        <h1>get in touch</h1>
                        <p>contact me</p>
                    </div>
                </div>
            </div>
            <div class="prt_contact_box">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="prt_contact_info">
                        <h1>How I can help you ?</h1>
                        <div class="prt_contact_form">
                            <div class="row">
                                <form>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <input type="text" name="first_name" placeholder="Your Name" class="require">
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <input type="text" name="email" placeholder="Your Email" class="require"
                                            data-valid="email" data-error="Email should be valid.">
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <input type="text" name="subject" placeholder="Subject" class="require">
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <textarea rows="4" name="message" placeholder="Message"
                                            class="require"></textarea>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="response"></div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <button type="button" class="prt_btn submitForm"
                                            form-type="contact">submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="prt_contact_map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14058.915780716487!2d77.0611833522246!3d28.24590566404556!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d25863d77ebf7%3A0x3d5dfc5182c660d6!2sSohna%2C%20Haryana!5e0!3m2!1sen!2sin!4v1726322533702!5m2!1sen!2sin"
                            allowfullscreen></iframe>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>